---
import Footer from '../components/Footer.astro';
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout includeSidebar={false}>
  <div class='pb-12 mt-5'>
    <div>
      <img src='/OllieZahara_Party.png' />
    </div>
  </div>

  <div class='form-container'>
    <div class='form'>
      <div class='info'>
        <h1><b>RSVP</b></h1>
        <hr />
        <p>Sunday, April 30, 2023</p>
        <p>11:00 AM</p>
        <br />
        <h2>Picnic @</h2>
        <p>Branchbrook Park</p>
        <a
          href='https://www.google.com/maps/place/Prudential+Concert+Grove/@40.756531,-74.1857888,17z/data=!3m1!4b1!4m6!3m5!1s0x89c254f7037ed167:0xc4b68acfa26cdf2a!8m2!3d40.756527!4d-74.1832139!16s%2Fg%2F11gbxd0d02'
        >
          <p class='link'>Prudential Concert Grove, Newark, NJ</p>
        </a>
      </div>
      <div class='event-submit'>
        <a
          href='mailto:me@zahara-aviv.com?subject=RSVP - Yes&body=I will be there!'
        >
          <button class='events accept'>Sound's Gay I'm In</button>
        </a>
        <a
          href='mailto:me@zahara-aviv.com?subject=RSVP - No&body=I cannot make it, sorry!'
        >
          <button class='events regret'>I don't like fun things</button>
        </a>
      </div>
    </div>
  </div>
</BaseLayout>
